    



 <%= render partial: "layouts/header" %>

<!----->

 <%= render partial: "layouts/sidebar" %>








<!-----start carousel-->

<div class="wrapper-2 m-5  ">
  <input checked type=radio name="slider" id="slide1" />
  <input type=radio name="slider" id="slide2" />
  <input type=radio name="slider" id="slide3" />
  <input type=radio name="slider" id="slide4" />

  <div class="slider-wrapper">
    <div class=inner>
      <article>

        <img src="img/General information about the person.png" />
      </article>

      <article>

        <img src="img/heth.png">
      </article>

      <article>

        <img src="img/houses.png">
      </article>

      <article>

        <img src="img/street.png">
      </article>

    </div>
    <!-- .inner -->
  </div>



  <!-- .slider-wrapper -->

  <div class="slider-prev-next-control">
    <label for=slide1 class="fas"> </label>

    <label for=slide2 class="fas"> </label>
    <label for=slide3 class="fas"> </label>
    <label for=slide4 class="fas"></label>
    <label for=slide5 class="fas"></label>
  </div>
  <!-- .slider-prev-next-control -->

  <div class="slider-dot-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
  </div>
  <!-- .slider-dot-control -->
</div>


<div class="container ">
  <div class="paragragh-main">
    <h1>Short paragraph on people
    </h1>
    <p>Let’s walk through a 5-step process for building a paragraph. For each step there is an explanation and
      example. Our example paragraph will be about slave spirituals, the original songs that African Americans created
      during slavery. The model paragraph uses illustration (giving examples) to prove its point.

    </p>
  </div>
</div>
<!------end carousel-->


<!----- start goup card-->

<div class="container-fluid bac-1">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-lg-12" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">




        <div class="carousel-item active">
          <div class="container-fluid">
            <div class="row">

              <main class="page-content-1">
                <div class="card">
                  <div class="content">
                    <h2 class="title">sobhy darwish</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>
                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">mohamed salama</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">mostafa anaany</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">mohamed elsheekh</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>



                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">karim <br> fahmy</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
              </main>

            </div>
          </div>
        </div>


        <div class="carousel-item ">
          <div class="container-fluid">
            <div class="row">

              <main class="page-content-2">
                <div class="card">
                  <div class="content">
                    <h2 class="title">mohamed gamal</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">said <br> abrahim</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">mohamed abrahim</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">mohamed hoseen</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">sameh ahmed</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
              </main>

            </div>
          </div>
        </div>




        <div class="carousel-item ">
          <div class="container-fluid">
            <div class="row">

              <main class="page-content-3">
                <div class="card">
                  <div class="content">
                    <h2 class="title">Mohammad Sayed</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">Mustafa Jumaa</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">Ibrahim Mohamed </h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">Karim Mahdy</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>

                    <a href="profile#index"><button class="btn-card">about me</button></a>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <h2 class="title">Mahmoud Walid</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <div class="sm">

                      <a href="#"><i class="fas fa-home" title="المنزل"></i></a>
                      <a href="#"><i class="fas fa-road" title="الشارع"></i></a>
                      <a href="#"><i class="fas fa-users" title="العائله"></i></a>
                      <a href="job.html"><i class="fas fa-user-md" title="الوظيفه"></i></a>

                    </div>
                    <a href="profile#index"><button class="btn-card">about me</button></a>


                  </div>
                </div>
              </main>



            </div>
          </div>
        </div>



      </div>


      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
</div>


<!--------- end group card----->



<!------start cards main-->


<div class="container-fluid p-5">
  <div class="row">
    <div class="card-columns ">
      <div class="cards-1">
        <img src="img/taaa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <p class="text-card">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="cards-1">
        <img src="img/maxresdefault.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="text-card">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="cards-1">
        <img src="img/for-patients.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">the health</h5>
          <p class="text-card">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>

    </div>

  </div>
</div>
<!--------end cards main----->


<!-------- start bac-fixd-------->
<div class="bac-fixd-1">
  <div class="info-fixd">
    <h1>details for houses</h1>
    <h4>Data on the home and the owner with all the information
    </h4>
    <input class="inp-fix" type="button" value="more">

  </div>
</div>

<!--------end bac-fixd-------->


<div class="all-servies">
  <div class="container-fluid  ">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <h1>all servies to need</h1>
        <p>For service to be effective and profitable, however, there is always need for tangible, often sophisticated
          goods. This may be in form of equipment or facility. Although these goods are no transferred, they are often
          key success factors, the lack of which is unforgiving.

        </p>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-1"> </div>
      <div class="col">
        <div class="Services">
          <i class="fas fa-graduation-cap"></i>
          <h6>Education</h6>
          <p>Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex.

          </p>

        </div>
      </div>

      <div class="col">
        <div class="Services">
          <i class="fas fa-stethoscope"></i>
          <h6>the health</h6>
          <p>Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex.

          </p>

        </div>
      </div>

      <div class="col">
        <div class="Services">
          <i class="fas fa-bolt"></i>
          <h6>Electricity</h6>
          <p>Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex.

          </p>

        </div>
      </div>


      <div class="col">
        <div class="Services">
          <i class="fas fa-shower"></i>
          <h6>water</h6>
          <p>Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex.

          </p>

        </div>
      </div>

      <div class="col-lg-1"> </div>




    </div>


  </div>

</div>




<!-------- start main card--->

<div class="container portfolio">

  <div class="row">

    <div class="col-lg-1"></div>


    <div class="left-boot col-lg-12">
      <div class="bio-info">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="bio-image">
                  <img src="img/pedodontics-image.jpg" alt="image" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="bio-image">
                  <img src="img/hs.png" alt="image" />
                </div>
              </div>


            </div>


          </div>


          <div class="col-md-12">
            <div class="bio-content">
              <h1>Education and self development</h1>
              <h6>I am a fresh web designer and I create custom web designs. I'm skilled at writing well-designed,
                testable and efficient code using current best practices in Web development. I'm a fast learner, hard
                worker and team player who is proficient in making creative and innovative web pages.</h6>

            </div>
          </div>
        </div>
      </div>







    </div>






    <div class="right-boot col-lg-6">

    </div>
    <div class="col-lg-1"></div>

  </div>
</div>


<!------------- end main card-->
















<!-------stard div fixed------->






<%= render partial: "layouts/footer" %>






