
        <div class="container">
            <div class="row">
                    <div class="profile-profile col-lg-5">
                        <img src="img/about-me.png" alt="">
                    <div class="image">
                        <img class="im" src="img/sobhy.jpg"  alt="">
        </div>
    </div>
    <div class="up-deta col-lg-1">
</div>
    
    
<div class="up-deta col-lg-6">
            

    <div class="d-profile">
        <div class="bac-grou">
            <div class="icon-d-1">
                <i class="fas fa-user-tie"></i>
            </div>
        
        </div>
        <div class="detals-data">
        <h1>personal data</h1>
        <ul class="data">
        <li><span>name:</span> sobhy mohamed sobhyy saleh</li>
        <li><span>Gender:</span> male</li>
        <li><span>Social status:</span> married</li>
        <li> <span>Date of Birth:</span> 1990-12-1</li>
        </ul>
        
        </div>   
          </div> 
          
          
          <div class="d-profile">
            <div class="bac-grou">
                <div class="icon-d-2">
                   <i class="fas fa-graduation-cap"></i>
                </div>
            
            </div>
            
            <div class="detals-data">
              <h1>aducation</h1>
              <ul class="data">
                <li>Web developer</li>

              <li>designer</li>
              <li>computer</li>
              <li>english</li>
              </ul>
              
              </div>   
                    </div>  
              
              
              <div class="d-profile">
                <div class="bac-grou">
                    <div class="icon-d-3">
                      <i class="fas fa-share-alt"></i>
                    </div>
                
                </div>
                <div class="detals-data">
                  <h1>social media</h1>

                  <ul class="data social">
                    <li> <a href="#"><span>facebook</span><i class="fab fa-facebook-f"></i></a></li>
                    <li> <a href="#"><span>whatsapp</span><i class="fab fa-instagram"></i></a></li>

                    <li> <a href="#"><span>twiteer</span><i class="fab fa-twitter"></i></a></li>
                    <li> <a href="#"><span>whatsapp</span><i class="fab fa-whatsapp"></i></a></li>
                    </ul>


                  
                  </div>   
                            </div>  
                            
                            
                  <div class="d-profile">
                    <div class="bac-grou-end">
                        <div class="icon-d-4">
                          <i class="fas fa-gamepad"></i>
                                                </div>
                    
                      </div>
                      <div class="detals-data ">
                        <h1>Hobbies</h1>

                        <ul class="data">
                          <li>listening to music</li>
                          <li>design</li>
                          <li>football</li>
                          <li>Gain information</li>
                          </ul>
        
                        
                        </div>   
                                      </div>    
     
                
    

</div>
<div class="up-deta col-lg-1">










    
            </div>
        </div>

</div>


<br><br><br><br><br>





    
