
 <%= render partial: "layouts/header" %>

 <!----->
 
  <%= render partial: "layouts/sidebar" %>


<div class="container-fluid">
  <div class="row">
<div class="col-lg-1"></div>
    
    <div class="left-bage-show col-lg-3">
        <img src="img/man.png" alt="">
      </div>




    <div class="right-bage-show col-lg-7 ">
      <div class="row">
        
        <div class="top-bage col-lg-12">
          <h1>Job data</h1>
      </div>

      <div class="col-lg-12 details">

<div class="all-setails">
  <img src="img/sobhy.jpg" alt="">

  <div class="small-details-jobs">
    <h1>name</h1>
    <h2>sobhy mohamed sobhy</h2>
  </div> 
  
  <div class="small-details-jobs">
    <h1>address</h1>
    <h2>cairo / elmarg / moasaset alzkah</h2>
  </div>   

  <div class="small-details-jobs">
    <h1>Date of Birth</h1>
    <h2>1989-1-12</h2>
  </div>   

  <div class="small-details-jobs">
    <h1>Religion</h1>
    <h2>Islamic</h2>
  </div>   

   <div class="small-details-jobs">
    <h1>company</h1>
    <h2>Peace Mills Company</h2>
  </div>   
   <div class="small-details-jobs">
    <h1>Function</h1>
    <h2>Production workers supervisor</h2>
  </div>  
    <div class="small-details-jobs">
    <h1>Salary</h1>
    <h2>It starts from 1500 to 4000
    </h2>
  </div>  
    <div class="small-details-jobs">
    <h1>qualification</h1>
    <h2>?????????????????</h2>
  </div>  
    <div class="small-details-jobs">
    <h1>experience</h1>
    <h2>Administrative experience</h2>
  </div>  
</div>
      </div>
  
  
      </div>

    </div>

    <div class="col-lg-1"></div>
  </div>
</div>



     <!-----start carousel-->
     
     <%= render partial: "layouts/footer" %>





