     <div class="container-fluid">
       <div class="row">
           <div class="col-lg-1"></div>
         
         <div class="left-bage col-lg-4">
             <img src="img/srteet.png" alt="">
           </div>
     
     
     
     
         <div class="right-bage col-lg-6">
           <div class="row">
             
             <div class="top-bage col-lg-12">
               <h1>Street details</h1>
           </div>
     
           <div class="col-lg-12 details">
     
     <div class="all-setails">
     
       <div class="small-details">
         <h1>street name</h1>
         <h2>ahmed almonofy</h2>
       </div> 
       
       <div class="small-details">
         <h1>Street length</h1>
         <h2>357 meters</h2>
       </div>   
     
       <div class="small-details">
         <h1>Street view</h1>
         <h2>12 maters</h2>
       </div>   
     
       <div class="small-details">
         <h1>Count of houses</h1>
         <h2>40</h2>
       </div>   
     
      
     </div>
           </div>
       
       
           </div>
     
         </div>
     
       </div>
     </div>
     