// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



   
   
   
   @font-face {
     font-family: "ubuntu";
     font-style: italic;
     font-weight: 300;
     src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
   }
   a {
     text-decoration: none;
     color: #9ca0b1;
   }
   
   .wrapper {
     text-align: center;
   }
   .wrapper h1 {
     color: #fff;
     font-size: 36px;
     font-family: "ubuntu";
     text-transform: uppercase;
     font-weight: 700;
     font-family: "Josefin Sans", sans-serif;
     background: linear-gradient(to right, #97666a 10%, #fff 50%, #000000 80%);
       background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 1.5s linear infinite;
     display: inline-block;
   
   
     margin-left: 14px;
     margin-right: 39px;
     margin-top: 10px;
   }
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
   }
   
   
   
   .k-r-brand{
       display: inline-block;
       padding-top: .3125rem;
       padding-bottom: .3125rem;
       margin-right: 1rem;
       font-size: 1.25rem;
       line-height: inherit;
       white-space: nowrap;
       font-family: 'Orbitron', sans-serif;
       color: black;
   transition: all 0.3s ease-in-out;
   
   }
   
   .k-r-brand:hover{
       text-decoration: none;
       color: black;
       transform: scale(1.0);
   
   }
   .nav-papa{
       transition: all 0.3s ease-in-out;
   
   }
   
   
   
   
   
   
   
   nav{
     margin-bottom: -30px;
   }
   
   .navbar-light .navbar-nav .link-nav{
   
     color: burlywood;
     font-size: 22px;
     width: 93px;
     margin: 0px 29px;
     // /* font-weight: bold; */
     font-family: "ubuntu";
     // /* font-family: "Josefin Sans", sans-serif; */
     display: inline-block;
     // /* color: #ffffff; */
     text-decoration: none;
   
   
   }
   
   .navbar-light .navbar-nav .link-nav::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   background:white;
   transition: width .3s;
   }
   .navbar-light .navbar-nav .link-nav:hover{
   color: white;}
   
   
   .navbar-light .navbar-nav .link-nav:hover::after {
   width: 100%;
   transition: width .3s;
   }
   
   
   .l-drop{
       font-family: 'Lemonada', cursive;
       display: block;
       width: 100%;
       padding: .25rem 1.5rem;
       clear: both;
       font-weight: 400;
       text-align: inherit;
       white-space: nowrap;
       background-color: transparent;
       border: 0;
       color: black;
       font-size: 15px;
      
   }
   
   
   
   .l-drop:hover{
     background: rgb(93, 139, 167);
     text-decoration: none;
     
     color: white;
     
     }
     
   .text-search{
       display: block;
       height: calc(1.5em + .75rem + 2px);
       padding: .375rem .75rem;
       font-size: 1rem;
       font-weight: 400;
       line-height: 1.5;
       color: #000000;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid #7d7693d9;
       border-radius: .25rem;
       width: 459px;
       height: 31px;
       font-size: 13px;
       padding-left: 8px;
       background: transparent;
       padding-right: 103px;
   
   
   }
   
   
   .inp-search{
       display: inline-block;
       font-weight: 400;
       color: #212529;
       text-align: center;
       vertical-align: middle;
       cursor: pointer;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       background-color: transparent;
         padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
       transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
       width: 46px;
       height: 31px;
       font-size: 12px;
       padding-left: 3px;
       border: 1px solid #8d70fe;
       padding-top: 5px;
       font-size: 20px;
       padding: 0;
       margin-right: 20px;
       color: rgb(231, 216, 216);
   
       margin-left: -56px;
       border-bottom: none;
       border-top: none;
     }
   
   .inp-search:hover{
       background: transparent;
       color: white;
       margin-left: -56px;
       border-bottom: none;
       border-top: none;
   
   }
   
   button {
   border: none;
   }
   
   
   .d-show{
     visibility: hidden;
     position: absolute;
     top: 54%;
     left: 76%;
     z-index: 1000;
     display: inline-block;
     min-width: 10rem;
     padding: .5rem 0;
     margin: .125rem 0 0;
     font-size: 1rem;
     color: #212529;
     text-align: left;
     list-style: none;
     border-radius: .25rem;
         margin-top: 12px;
         background: transparent;
         border: 1px solid #8c70fd;
   }
   
   
   .drop-down:hover .d-show{
     visibility: visible;
     -webkit-animation: 100ms ease-in-out 0s normal none 1 running zoomIn;
     animation: 100ms ease-in-out 0s normal none 1 running zoomIn;
   
   
   
   
   }
   
   .right-nav{
     width: 255px;
     display: inline-block;
     margin-bottom: 33px;}
     
     .wishlist-compare-holder{
     float: left;
     margin-right: 28px;
     font-size: 12px;
     margin-top: 31px;
     border-right: 1px solid #ed7328;
     padding-right: 9px;
     }
     
     .wishlist-compare-holder .wishlist a{
     text-decoration: none;
     color: burlywood;
     
     }
     
     
     
     .wishlist-compare-holder .compare a{
     text-decoration: none;
     
     }
     .wishlist-compare-holder .compare i{
     color: #b85758;
     margin-right: 4px;
     font-size: 15px;
     }
     
     
     .wishlist-compare-holder{
     float: left;
     margin-right: 28px;
     font-size: 12px;
     margin-top: 31px;
     border-right: 1px solid #ed7328;
     padding-right: 9px;
     }
     
     
     .basket-item-count {
     float: left;
     
     }
     
     .basket-item-count img{
     width: 43px;
     margin-left: -20px;
     margin-top: 27px;
     }
     
     .count{
     background: #ed7328;
     padding: 5px 8px;
     border-radius: 89%;
     font-weight: bold;
     color: wheat;
     }
     
     .total-price-basket{
     float: left;
     margin-top: 26px;
     margin-left: 8px;
     }
     
     
     
     .total-price-basket .lbl{
     display: block;
     margin-bottom: -6px;
     margin-top: 3px;
     font-size: 13px;        }
     .wishlist-compare-holder .compare a {
       color: burlywood;
     
     }
     
     .total-price-basket .total-price{
     font-size: 15px;
     color: burlywood;
   }
     
     
     .basket-item-count {
     float: left;
     
     }
     
     .basket-item-count img{
     width: 43px;
     margin-left: -20px;
     margin-top: 27px;
     }
     
     .count{
     background: #ed7328;
     padding: 5px 8px;
     border-radius: 89%;
     font-weight: bold;
     color: wheat;
     }
     
     
     
     .wishlist-compare-holder{
     float: left;
     margin-right: 28px;
     font-size: 12px;
     margin-top: 31px;
     border-right: 1px solid #ed7328;
     padding-right: 9px;
     }
     
     
     
     
     .wishlist-compare-holder .wishlist i{
     color: #b95858;
     margin-right: 4px;
     font-size: 15px;        
     }
     
     
     .wishlist-compare-holder .compare a{
     text-decoration: none;
     
     }
     
     
   
   
   
   
   
   
   
   
   // /* start carousel*/
   
   
     // /*---- NUMBER OF SLIDE CONFIGURATION ----*/
   .wrapper-2 {
     margin-top: 50px;
     position: relative;
     
   
   }
   
   .wrapper-2 input {
     display: none;
   }
   
   .inner {
     width: 500%;
     line-height: 0;
   }
   
   article {
     width: 20%;
     float: left;
     position: relative;
   }
   article img {
     width: 100%;
     height: 570px;
   }
   
   // /*---- SET UP CONTROL ----*/
   .slider-prev-next-control {
     height: 50px;
     position: absolute;
     top: 50%;
     width: 100%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
   }
   slider-prev-next-control::after{
     content: "/f137";
   }
   
   .slider-prev-next-control label {
     display: none;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: #fff;
     opacity: 0.7;
   }
   .slider-prev-next-control label:hover {
     opacity: 1;
   }
   
   .slider-dot-control {
     position: absolute;
     width: 100%;
     bottom: 0;
     text-align: center;
   }
   .slider-dot-control label {
     cursor: pointer;
     border-radius: 5px;
     display: inline-block;
     width: 10px;
     height: 10px;
     background: #bbb;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
   }
   .slider-dot-control label:hover {
     background: #ccc;
     border-color: #777;
   }
   
   // /* Info Box */
   .info {
     position: absolute;
     font-style: italic;
     line-height: 20px;
     opacity: 0;
     color: #000;
     text-align: left;
     -webkit-transition: all 1000ms ease-out 600ms;
     -moz-transition: all 1000ms ease-out 600ms;
     transition: all 1000ms ease-out 600ms;
   }
   .info h3 {
     color: #fcfff4;
     margin: 0 0 5px;
     font-weight: normal;
     font-size: 1.5em;
     font-style: normal;
   }
   .info.top-left {
     top: 170px;
     left: 163px;
   }
   
   
   .info.top-left h1{
     font-size: 96px;
   color: white;  font-style: normal;
   }
   
   .info.top-left p{
     font-size: 28px;
     margin-top: 21px;
     font-style: normal;
     color: #a3a2b1;
     border: none;
   }
   
   
   .info.top-right {
     top: 30px;
     right: 30px;
   }
   .info.bottom-left {
     bottom: 30px;
     left: 30px;
   }
   .info.bottom-right {
     bottom: 30px;
     right: 30px;
   }
   
   // /* Slider Styling */
   .slider-wrapper {
     width: 100%;
     overflow: hidden;
     border-radius: 5px;
     box-shadow: 1px 1px 4px #666;
     background: #fff;
     background: #fcfff4;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-transition: all 500ms ease-out;
     -moz-transition: all 500ms ease-out;
     transition: all 500ms ease-out;
   }
   .slider-wrapper .inner {
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
     -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
     transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   // /*---- SET POSITION FOR SLIDE ----*/
   #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     margin: 0;
     line-height: 38px;
     font-size: 3em;
     display: block;
     color: #777;
   }
   
   #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
     padding-left: 15px;
   }
   
   #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
     display: block;
     float: right;
     margin-right: 5px;
   }
   
   #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
     display: block;
     float: left;
     margin-left: 5px;
   }
   
   #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
     padding-left: 8px;
   }
   
   #slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
     background: #333;
   }
   
   #slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
     opacity: 1;
   }
   
   #slide1:checked ~ .slider-wrapper .inner {
     margin-left: 0%;
   }
   
   #slide2:checked ~ .slider-wrapper .inner {
     margin-left: -100%;
   }
   
   #slide3:checked ~ .slider-wrapper .inner {
     margin-left: -200%;
   }
   
   #slide4:checked ~ .slider-wrapper .inner {
     margin-left: -300%;
   }
   
   #slide5:checked ~ .slider-wrapper .inner {
     margin-left: -400%;
   }
   
   // /*---- TABLET ----*/
   @media only screen and (max-width: 850px) and (min-width: 450px) {
     .slider-wrapper {
       border-radius: 0;
     }
   }
   // /*---- MOBILE----*/
   @media only screen and (max-width: 450px) {
     .slider-wrapper {
       border-radius: 0;
     }
   
     .slider-wrapper .info {
       opacity: 0;
     }
   }
   
   
   
   
   // /* end carousel*/
   
   
   // /* start boot card*/
   // /* end boo card*/
   
   
   
   // /* start paragragh-main */
   
   .paragragh-main{
   text-align: center;
   }
   
   .paragragh-main h1{
     color: burlywood;
   }
   .paragragh-main p{
     color: #a3a2b1;
   
   }
   
   .add{
     display: inline-block;
     position: relative;
     left: 6px;
     font-size: 32px;
     // /* background: brown; */
     // /* padding: 10px; */
     border-radius: 100%;
     position: fixed;
     top: 116px;
     z-index: 100;
     left: 5px;
   }
   
   .add:hover #sidebar{
     left: 0px;
   
   
   }
   
   .add i{
     color: rgb(0, 180, 251);
   
   }
   
   
   .nnav{
     background: transparent;
     }
     
     #sidebar{
       background: url(/img/vc.svg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
     
   
       position: absolute;
       top: 44px;
       border: solid #8d71fe 1px;
       border-radius: 5px;
       min-width: 183px;
       max-width: 226px;
       color: #fff;
       -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
       transition: all 0.3s;
       left: -250px;
   
     }
   
   
     #sidebar:hover{
     
     box-shadow: 0 0 2px #fff,0 0 10px #fff,0 0 12px #2196f3;
     }
     
     
     #sidebar h1 {
     margin-bottom: 20px;
     font-size: 28px;
     }
     
     
     #sidebar h1 .logo {
     color: #a52a2a;
     text-decoration: none;
     
     }
     #sidebar h1 .logo:hover {
     color: #b16767;
     text-decoration: none;
     transition: 0.3s ease;
     }
     #sidebar h1 .logo span:first-child{
     font-size: 19px;
     }
     
     
     #sidebar h1 .logo span:last-child{
     font-size: 70px;
     font-weight: inherit;
     }
     
     
     
     #sidebar ul.components {
     padding: 0;
     }
     
     
     
     #sidebar ul li {
     font-size: 16px;
     border-bottom: dashed 1px #5f4747;
   }
     
     #sidebar ul li a {
     padding: 10px 0;
     display: inline-block;
     color: burlywood;
     margin-left: 10px;
     
     text-decoration: none;   
     transition: all 0.3s ease-in-out;
     }
     
     #sidebar ul li a:hover{
   margin-left: 15px;
         color: white;
     
         text-decoration: none;   
     
         }
     
     
         #sidebar ul li a span {
   
         color: #5dc9f8;
         font-size: 15px;
         }
     
         #sidebar ul li a span:hover a {
           margin-left: 30px;
   
   
         }
         #sidebar .form-group .form-control{
           border: solid #8d71fe 1px;          background: transparent;
             font-size: 10px;
     color: wheat;
         }
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
   
   // /* end paragragh-main*/
   
   
   
   
   // /*start bac-fixd*/
   .bac-fixd-1{
     height: 400px;
     background: url(/img/jn.png);
     background-size: cover;
     background-attachment: fixed;
   }
   
   .bac-fixd-1 h1{
     font-size: 70px;
   
   }
   
   .bac-fixd-1 h4{
     color: aqua;
   
   }
   .bac-fixd-1 .info-fixd{
     position: relative;
     top: 31%;
     left: 5%;
     color: white;
   width: auto;
   display: inline-block;
   }
   
   .inp-fix{
     padding: 0px 47px;
     border: none;
     background: #4e475dd9;
     border-radius: 3px;
     // /* margin-top: 30px; */
     color: wheat;
     border: 1px dashed #2c313a;
   }
   
   
   
   
   
   // /* end bac-fixd*/
   
   
   
   
   
   
   
   
   
   
   
   
   // /* start carousel main card*/
   
   
   
   
   .page-content-1,.page-content-2,.page-content-3{
     height: 451px;
     display: grid;
     grid-gap: 1rem;
     padding: 1rem;
     max-width: 1462px;
     margin: 0 auto;
     font-family: var(--font-sans);
   
   
   }
   @media (min-width: 600px) {
     .page-content-1,.page-content-2,.page-content-3 {
       grid-template-columns: repeat(2, 1fr);
     }
   }
   @media (min-width: 800px) {
     .page-content-1,.page-content-2,.page-content-3 {
       grid-template-columns: repeat(5, 1fr);
   
     }
   }
   
   .card {
     position: relative;
     display: -webkit-box;
     display: flex;
     -webkit-box-align: end;
             align-items: flex-end;
     overflow: hidden;
     padding: 1rem;
     width: 100%;
     text-align: center;
     color: whitesmoke;
   
   
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border-radius: .25rem;
   
   
   
   
   
   }
   @media (min-width: 600px) {
     .card {
       height: 350px;
     }
   }
   .card:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 110%;
     background-size: cover;
     background-position: 0 0;
     -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
     transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
     transition: transform calc(var(--d) * 1.5) var(--e);
     transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
     pointer-events: none;
   }
   .card:after {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 200%;
     pointer-events: none;
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
     -webkit-transform: translateY(-50%);
             transform: translateY(-50%);
     -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
     transition: -webkit-transform calc(var(--d) * 2) var(--e);
     transition: transform calc(var(--d) * 2) var(--e);
     transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
   }
   .page-content-1 .card:nth-child(1):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/sobhy.jpg);
   } 
   
   .page-content-1 .card:nth-child(2):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/salama.jpg);
   }
   .page-content-1 .card:nth-child(3):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mostafa.jpg);
   }
   .page-content-1 .card:nth-child(4):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mohamed.jpg);
   }
   
   .page-content-1 .card:nth-child(5):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/karim.jpg);
   }
   
   
   
   .page-content-2 .card:nth-child(1):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mohamed-gamal.jpg);
   }
   
   .page-content-2 .card:nth-child(2):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/said-abrahim.jpg);
   }
   
   .page-content-2 .card:nth-child(3):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mohamed-masaad.jpg);
   }
   
   
   
   .page-content-2 .card:nth-child(4):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/ahmed-hoknaa.jpg);
   }
   .page-content-2 .card:nth-child(5):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/sameh.jpg);
   }
   
   
   
   .page-content-3 .card:nth-child(1):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/yassen.jpg);
   }
   
   .page-content-3 .card:nth-child(2):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mostafa-gomaa.jpg);
   }
   .page-content-3 .card:nth-child(3):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/abrahim.jpg);
   }
   .page-content-3 .card:nth-child(4):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/karim-mahdy.jpg);
   }
   
   .page-content-3 .card:nth-child(5):before {
     transition: all 0.3s ease-in-out ;
   
     background-image: url(/img/mahmoud-walid.jpg);
   }
   
   
   
   
   
   
   
   
   
   
   .content {
   
     position: relative;
     display: -webkit-box;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
             flex-direction: column;
     -webkit-box-align: center;
             align-items: center;
     width: 100%;
     padding: 1rem;
   
     transition: all 0.3s ease-in-out ;
   
     z-index: 1;
   }
   .content h2{
     font-size: 30px;
     margin-top: -5px;
   }
   
   
   .content > * + * {
     margin-top: 1rem;
   }
   
   .title {
     font-size: 1.3rem;
     font-weight: bold;
     line-height: 1.2;
   }
   
   .copy {
     font-family: var(--font-serif);
     font-size: 15px;
     font-style: italic;
     line-height: 1.35;
     border: none;
   }
   
   .btn-card {
     cursor: pointer;
     margin-top: 1.5rem;
     padding: 8px 16px;
     font-size: 13px;
     font-weight: bold;
     letter-spacing: inherit;
     // /* text-transform: uppercase; */
     background-color: #4564c0;
     color: black;
     border: none;
     border-radius: 5px;
   }
   .btn-card:hover {
   color: white;
   }
   .btn-card:focus {
     outline: 1px dashed rgb(226, 214, 102);
     outline-offset: 3px;
   }
   
   @media (hover: hover) and (min-width: 600px) {
     .card:after {
       -webkit-transform: translateY(0);
               transform: translateY(0);
     }
   
     .content {
       -webkit-transform: translateY(calc(100% - 4.5rem));
               transform: translateY(calc(100% - 4.5rem));
     }
     .content > *:not(.title) {
       opacity: 0;
       -webkit-transform: translateY(1rem);
               transform: translateY(1rem);
       -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
       transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
       transition: transform var(--d) var(--e), opacity var(--d) var(--e);
       transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
     }
   
     .card:hover,
     .card:focus-within {
       -webkit-box-align: center;
               align-items: center;
     }
     .card:hover:before,
     .card:focus-within:before {
       -webkit-transform: translateY(-4%);
               transform: translateY(-4%);
     }
     .card:hover:after,
     .card:focus-within:after {
       -webkit-transform: translateY(-50%);
               transform: translateY(-50%);
     }
     .card:hover .content,
     .card:focus-within .content {
       -webkit-transform: translateY(0);
               transform: translateY(0);
     }
     .card:hover .content > *:not(.title),
     .card:focus-within .content > *:not(.title) {
       opacity: 1;
       -webkit-transform: translateY(0);
               transform: translateY(0);
       -webkit-transition-delay: calc(var(--d) / 8);
               transition-delay: calc(var(--d) / 8);
     }
   
     .card:focus-within:before, .card:focus-within:after,
     .card:focus-within .content,
     .card:focus-within .content > *:not(.title) {
       -webkit-transition-duration: 0s;
               transition-duration: 0s;
     }
   }
   
   
   
   // /* end carousel main card*/
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   .main-1{
     background: url(/img/c.jpg);
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: auto;
   
   
   }
   
   
   // /*start haeder */
   
   .header {
     overflow: hidden;
     background-color: #bab8ba;
     padding: 20px 10px;
   }
   
   
   
   // /* end haeder */
   
   
   
   // /* start profile*/
   
   .profile{
   
     height: 540px;
   
     text-align: center;
     margin-top: 145px;
   }
   
   
   
   
   .main-profile{
     margin-top: -69px;
   }
   .main-profile .image{
     
     
     position: relative;
     // /* left: 9.5%; */
     // /* border-radius: 73%; */
     padding-top: 5px;
     // /* width: 225px; */
     // /* height: 190px; */
     // /* background: linear-gradient(45deg, #ff0000, #ff00ca, #1a00ff, #ffe500); */
   
   }
   
   
   
   
   
   
   .main-profile img{
   
     border-top-left-radius: calc(.25rem - 1px);
     border-top-right-radius: calc(.25rem - 1px);
     width: 271px;
     height: 271px;
     margin-left: -21px;
     }
   
   
   
   
   .main-profile h2{
     font-family: 'Jost', sans-serif;
     font-size: 24px;
     margin-bottom: 8px;
     margin-top: 17px;
     color: #ffffff;
     font-weight: bold;
   
   }
   
   
   
   
   .main-profile h6{
     font-family: 'Manrope', sans-serif;
     margin-top: 33px;
     margin-bottom: 17px;
   
   }
   
   .main-profile p{
     margin-top: 26px;
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     color: rgb(110, 110, 110);
   
   ;
   }
   
   
   .main-profile span{
     color: rgb(110, 110, 110);
   
     font-weight: bold;
   
   }
   .main-profile .sm a{
     display: inline-flex;
     width: 40px;
     height: 40px;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     transition: 0,4s;
     border-radius: 100%;
     transition: all 0.5s ease;
   }
   
   
   
   
   .sm a:hover{
       text-decoration: none;
   }
   
   .sm{
     margin-top: -5px;
   }
   
   
   
   
   .sm a i{
     padding: 10px;
     border-radius: 100%;
     color: #badc18;
   
   }
   
   .sm a i:hover{
   background: #000000;      
   
   
   }
   
   .about{
     background: #bbc9ca;
     text-align: center;
     margin-top: 10px;
     font-size: 20px;
     width: 289px;
     margin: auto;
     font-size: 17px;
     transition: all 0.2s ease-in-out;
     color: black;
     // /* padding-right: 45px; */
     // /* padding-left: 45px; */
     padding: 4px 40px;
     margin-left: -13px;
   }
   // /* end amige carousel*/
   
   
   
   // /* start boot-2 card*/
   
   .card-body{
     text-align: center;
   }
   
   .cards-1 {
     color: #a3a2b1;
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-clip: border-box;
     border-radius: .25rem;
     display: inline-block;
     width: 100%;
   }
   
   
   .cards-1 .card-title{
     color: burlywood;
     
   }
   
   .cards-1 .text-card{
     font-size: 18px;
   padding: 5px;
     color: #a3a2b1;
   }
   
   // /* end amige carousel*/
   
   .portfolio{
     padding-bottom:6%;
     text-align:center;
   }
   .heading{
     background: #fff;
     padding: 1%;
     text-align: left;
     box-shadow: 0px 0px 4px 0px #545b62;
   }
   .heading img{
     width: 10%;
   }
   .name{
     font-family: 'Charmonman', cursive;
     font-weight:600;
   }
   .bio-image{
     text-align:center;
   }
   .bio-image img{
     height: 227px;
     width: 557px}
   .bio-content{
     text-align:center;
     margin-left: 11px;
   
   }
   .bio-content h1{
   
   color: #fff8f8;
   font-size: 38px;
   margin-top: 40px;
   
   }
   
   
   
   .bio-content h6{
     color: #a3a2b1;
     margin-bottom: .5rem;
     font-weight: 500;
     line-height: 1.2;
     border-radius: 6px;
     padding: 20px;
   
   }
   
   // /* start icon Services*/
   
   
   .all-servies{
   
   padding-top: 110px;
   padding-bottom: 110px;
   }
   
   .all-servies h1{
     text-align: center;
     color: burlywood;
     font-size: 30px;
   
   }
   
   
   .all-servies p{
     text-align: center;
     color: #a3a2b1;
     font-size: 14px;
     margin-bottom: 70px;
   
   }
   
   .Services{
     color: white;
     text-align: center;
   
   }
   
   
   .Services i{
     font-size: 60px;
     margin-bottom: 16px;
     color: #9a7e7e;
     border: 1px dashed #42423b;
     border-radius: 100%;
     padding: 27px 27px;
     // /* width: 155px; */
     // /* height: 155px; */
   
   
   }
   .Services h6{
     color: #ffffff;
   
     margin-bottom: 20px;
   }
   .Services p{
     font-size: 14px;
   
   }
   
   // /* end icon Services*/
   
   
   
   // /* start footer*/
   footer{
     color: brown;
   }
   .bac-col{
   
     font-size: 28px;
     background: black;
     padding: 10px;
   
   }
   
   
   
   
   // /*end foteer// /*
   
   