<!-- start navbar--->



<nav class="navbar navbar-expand-lg navbar-light animated fadeInDown ">
  <div class="wrapper">
    <h1>kamal ramzy</h1>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="text-search mr-sm-2" type="search" placeholder="Search">
      <button class="inp-search  my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>

    <ul class="navbar-nav wrapper ">
      <li class="nav-papa active">
        <a class="link-nav" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-papa">
        <a class="link-nav" href="#">about</a>
      </li>
      <li class="nav-papa">
        <a class="link-nav" href="#">portfolio</a>
      </li>

      <li class="nav-papa">
        <a class="link-nav " href="#">Featured</a>
      </li>
      <li class="nav-papa  drop-down ">
        <a class="link-nav " href="#">Dropdown</a>

        <div class="d-show">
          <a class=" l-drop" href="#">Action</a>
          <a class=" l-drop" href="#">Another action</a>
          <a class=" l-drop" href="#">Something else here</a>
        </div>


      </li>


    </ul>
  </div>


  <div class="right-nav">
    <div class="wishlist-compare-holder">
      <div class="wishlist ">
        <a href="#"><i class="fa fa-heart"></i> wishlist <span class="value">(21)</span> </a>
      </div>
      <div class="compare">
        <a href="#"><i class="fas fa-sync"></i> compare <span class="value">(2)</span> </a>
      </div>
    </div>
    <div class="top-cart-holder dropdown animate-dropdown">

      <div class="basket">
        <div class="basket-item-count">
          <img src="img/4751bdd75f3.png" alt="">
        </div>

        <div class="total-price-basket">
          <span class="lbl">your cart:</span>
          <span class="total-price">
            <span class="sign">$</span><span class="value">3219,00</span>
          </span>
        </div>


      </div><!-- /.basket -->
    </div>

  </div>
</nav>


<nav id="sidebar" class="img nnav  animated fadeInLeft slow">
<div class="p-4">
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <span class="fa fa-home"></span><a href="">Home</a>
    </li>
    <li>
      <span class="fas fa-user-circle"></span><a href="show.html">profile</a>
    </li>
     
    <li>
      <span class="fas fa-road"></span><a href="street.html">street</a>
    </li>
    <li>
      <span class="fas fa-user-md"></span> <a href="jobs.html">job</a>
    </li>

    <li>
      <span class="fa fa-cogs"></span><a href="#">Services</a>
    </li>
    <li>
      <span class="fa fa-paper-plane"></span><a href="#">Contacts</a>
    </li>
  </ul>
  <div>
    <form action="#" class="subscribe-form">
      <div class="form-group d-flex">
        <div class="icon"><span class="icon-paper-plane"></span></div>
        <input type="text" class="form-control" placeholder="Enter Email Address">
      </div>
    </form>
  </div>
</div>
</nav>

<!---- end navbar--->
