<div class="add">
<i class="fas fa-bars"></i>



<nav id="sidebar" class="img nnav  animated fadeInLeft slow">
  <div class="p-4">
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <span class="fa fa-home"></span><%= link_to "Home", root_path %>‏

        


      </li>
      <li>

        <span class="fas fa-user-circle"></span><a href="profile#index">profile</a>
        
      </li>
       
      <li>
        <span class="fas fa-road"></span><a href="streets#index">street</a>
      </li>
      <li>
        <span class="fas fa-user-md"></span> <a href="jobs#index">job</a>
      </li>
  
      <li>
        <span class="fa fa-cogs"></span><a href="#">Services</a>
      </li>
      <li>
        <span class="fa fa-paper-plane"></span><a href="#">Contacts</a>
      </li>
    </ul>
    <div>
      <form action="#" class="subscribe-form">
        <div class="form-group d-flex">
          <div class="icon"><span class="icon-paper-plane"></span></div>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </form>
    </div>
  </div>
</nav>



</div>
